@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

/* seafoam theme */
@font-face {
	font-family: 'Playfair Display';
	src: url('/fonts/PlayfairDisplay-Italic.ttf');
	font-display: swap;
}